h2{
    color:dodgerblue;
    text-align: center;

}
h4{
    color:dodgerblue;


}
.centrar{
display:block;
margin-left:auto;
margin-right:auto;
width:80%;

}
.letra{
    color:dodgerblue;
    text-align: justify;
}
.justificar{
margin-left: 15px;
}